<%= render "include/navbar_signin" %>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-sm-offsett-4 col-md-4 col-md-offset-4">
			<h2 class="logo">Forgot your password?</h2>
			
			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "user-form" }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="row">
		  	<div class="col-xs-12 col-sm-12 col-md-12">
				  <%= f.label :email %><br />
				  <%= f.email_field :email, autofocus: true, class: "user-field form-control" %>
				</div>
			</div>

	  	<div class="row">
		  	<div class="col-xs-12 col-sm-12 col-md-12 centered">
		  		<%= f.submit "Send me the instruction", class: "btn btn-info" %>
		  		<%= link_to "Cancel", root_path %>
		  	</div>
		  </div>
			<% end %>
		</div>
	</div>
</div>
