<%= render "include/navbar" %>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-7 col-md-7">
			
			<!-- loop here -->
			<% if @Places.total_count > 0 %>
				<% @Places.each do |row| %>
				<div class="list-item">
					<h3><%= link_to row.name.split.map(&:capitalize).join(' '), place_path(row.id) %></h3>
					<p><%= row.address.split.map(&:capitalize).join(' ') %></p>
					<% if row.postal_code != '' %>
					<p><%= row.country_name + ", " + row.postal_code %></p>
					<% else %>
					<p><%= row.country_name %></p>
					<% end %>
					<p>Source: <%= link_to row.source, row.source %></p>
				</div>
				<% end %>

			<%= paginate @Places %>
			<% else %>
			<div class="list-item">
				<h3>Ooops...no halal data found or your query is too broad :(</h3>
				<p>Try more specific e.g., 'noodle in singapore', 'chicken in toa payoh street'.</p>
				<br>
				<p><i>Help us by <%= link_to "contributing", about_path %> to input another halal data in your hometown.</i></p>
			</div>
			<% end %>
		</div>
	</div>
</div>