<%= render "include/navbar" %>

<div class="container top-content">
	<div class="row">
		<div class="col-xs-12 col-sm-7 col-md-7">
			
			<!-- loop here -->
			<% if @Places.total_count > 0 %>
				<% @Places.each do |row| %>
				<div class="list-item">
					<h3><%= link_to row['_source']['name'].split.map(&:capitalize).join(' '), place_path(row['_source']['id']) %></h3>
					<p>
						<%= row['_source']['address'].split.map(&:capitalize).join(' ') %>
					</p>
					<p>
					<% if row['_source']['city_name'] %>
						<%= row['_source']['city_name'] %>
					<% end %>
					</p>
					<% if row['_source']['postal_code'] != '' %>
					<p><%= row['_source']['country_name'] + ", " + row['_source']['postal_code'] %></p>
					<% else %>
					<p><%= row['_source']['country_name'] %></p>
					<% end %>
					
					<!--
					<% if row['_source']['source'] %>
					<p>Source: <%= link_to row['_source']['source'], row['_source']['source'] %></p>
					<% else %>
					<p>Source: HalalData's contributor</p>
					<% end %>
					-->
				</div>
				<% end %>

			<%= paginate @Places %>
			<% else %>
			<div class="list-item">
				<h3>Ooops...no halal data found or your query is too broad :(</h3>
				<p>Try more specific e.g., 'noodle in singapore', 'chicken in toa payoh street'.</p>
				<br>
				<p><i>Help us by <%= link_to "contributing", about_path %> to input another halal data in your hometown.</i></p>
			</div>
			<% end %>
		</div>
	</div>
</div>