<%= render "include/navbar" %>

<div class="container top-content">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 place">
			<h3 id="place-name"><%= @Place['hits']['hits'][0]['_source']['name'].split.map(&:capitalize).join(' ') %></h3>
			<p>
				<%= @Place['hits']['hits'][0]['_source']['address'].split.map(&:capitalize).join(' ') %>
			</p>
			<p id="city-name">
				<% if @Place['hits']['hits'][0]['_source']['city_name'] %>
					<%= @Place['hits']['hits'][0]['_source']['city_name'] %>
				<% end %>
			</p>
			<% if @Place['hits']['hits'][0]['_source']['postal_code'] != '' %>
			<p id="country-name"><%= @Place['hits']['hits'][0]['_source']['country_name'] + ", " + @Place['hits']['hits'][0]['_source']['postal_code'] %></p>
			<% else %>
			<p id="country-name"><%= @Place['hits']['hits'][0]['_source']['country_name'] %></p>
			<% end %>
			<ul class="metadata">
				<li>
					Phone: 
					<%- if @Place['hits']['hits'][0]['_source']['phone'] %> 
					<%= @Place['hits']['hits'][0]['_source']['phone'] %> 
					<%- else %>
					<%= raw("<i>contribute to complete it</i>") %>
					<%- end %>
				</li>
				<li>
					Fax: 
					<%- if @Place['hits']['hits'][0]['_source']['fax'] %> 
					<%= @Place['hits']['hits'][0]['_source']['fax'] %> 
					<%- else %>
					<%= raw("<i>contribute to complete it</i>") %>
					<%- end %>
				</li>
				<li>
					Email: 
					<%- if @Place['hits']['hits'][0]['_source']['email'] %> 
					<%= @Place['hits']['hits'][0]['_source']['email'] %> 
					<%- else %>
					<%= raw("<i>contribute to complete it</i>") %>
					<%- end %>
				</li>
				<li>
					Website: 
					<%- if @Place['hits']['hits'][0]['_source']['website'] %> 
					<%= @Place['hits']['hits'][0]['_source']['website'] %> 
					<%- else %>
					<%= raw("<i>contribute to complete it</i>") %>
					<%- end %>
				</li>
			</ul>
			<!--
			<% if @Place['hits']['hits'][0]['_source']['source'] %>
			<p>Source: <%= link_to @Place['hits']['hits'][0]['_source']['source'], @Place['hits']['hits'][0]['_source']['source'] %></p>
			<% else %>
			<p>Source: HalalData's contributor</p>
			<% end %>
			-->
		</div>

		<div class="col-xs-12 col-sm-6 col-md-6 place">
			<div id="map"></div>
		</div>
	</div>
</div>