<%= render "include/navbar" %>

<div class="container top-content">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 place">
			<h3 id="place-name"><%= @Place.name.split.map(&:capitalize).join(' ') %></h3>
			<p>
				<%= @Place.address.split.map(&:capitalize).join(' ') %>
			</p>
			<p id="city-name">
				<% if @Place.city_name %>
					<%= @Place.city_name %>
				<% end %>
			</p>
			<% if @Place.postal_code != '' %>
			<p><%= @Place.country_name + ", " + @Place.postal_code %></p>
			<% else %>
			<p><%= @Place.country_name %></p>
			<% end %>
			<ul class="metadata">
				<li>
					Phone: 
					<%- if @Place.phone %> 
					<%= @Place.phone %> 
					<%- else %>
					<%= raw("<i>contribute to complete it</i>") %>
					<%- end %>
				</li>
				<li>
					Fax: 
					<%- if @Place.fax %> 
					<%= @Place.fax %> 
					<%- else %>
					<%= raw("<i>contribute to complete it</i>") %>
					<%- end %>
				</li>
				<li>
					Email: 
					<%- if @Place.email %> 
					<%= @Place.email %> 
					<%- else %>
					<%= raw("<i>contribute to complete it</i>") %>
					<%- end %>
				</li>
				<li>
					Website: 
					<%- if @Place.website %> 
					<%= @Place.website %> 
					<%- else %>
					<%= raw("<i>contribute to complete it</i>") %>
					<%- end %>
				</li>
			</ul>
			<% if @Place.source %>
			<p>Source: <%= link_to @Place.source, @Place.source %></p>
			<% else %>
			<p>Source: HalalData's contributor %></p>
			<% end %>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-6 place">
			<div id="map"></div>
			<%= image_tag "powered_gray.png", width: 200 %>
		</div>
	</div>
</div>