<%= render "include/navbar" %>

<div class="container top-content">
	<div class="row">
		<div class="col-xs-12 col-sm-7 col-md-7 place">
			<h3><%= @Place.name.split.map(&:capitalize).join(' ') %></h3>
			<p><%= @Place.address.split.map(&:capitalize).join(' ') %></p>
			<% if @Place.postal_code != '' %>
			<p><%= @Place.country_name + ", " + @Place.postal_code %></p>
			<% else %>
			<p><%= @Place.country_name %></p>
			<% end %>
			<ul class="metadata">
				<li>
					Phone: 
					<%- if @Place.phone %> 
					<%= @Place.phone %> 
					<%- else %>
					<%= raw("<i>contribute to complete it</i>") %>
					<%- end %>
				</li>
				<li>
					Fax: 
					<%- if @Place.fax %> 
					<%= @Place.fax %> 
					<%- else %>
					<%= raw("<i>contribute to complete it</i>") %>
					<%- end %>
				</li>
				<li>
					Email: 
					<%- if @Place.email %> 
					<%= @Place.email %> 
					<%- else %>
					<%= raw("<i>contribute to complete it</i>") %>
					<%- end %>
				</li>
				<li>
					Website: 
					<%- if @Place.website %> 
					<%= @Place.website %> 
					<%- else %>
					<%= raw("<i>contribute to complete it</i>") %>
					<%- end %>
				</li>
			</ul>
			<p>Source: <%= link_to @Place.source, @Place.source %></p>
		</div>

		<div class="col-xs-12 col-sm-5 col-md-5 place">
			
			<% @Venue.venues.each do |venue| %>
				<% if @Place.name.split.map(&:capitalize).join(' ') == venue.name %>
					<%= venue.name %>
					<%= venue.address %>
					<%= venue.location[:lat] %>
					<%= venue.location[:lng] %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>