<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="Search Engine for Halal Place and Product Around the World" />
  <meta property="og:site_name" content="HalalData"/>
  <meta property="og:url" content="http://halaldata.org/about" />
  <meta property="og:description" content="Helping Muslim gets halalan thayyiban around the world. That is our simple vision." />
  <meta property="og:image" content="http://asep.co/wp-content/uploads/2014/07/Logo_Full.png" />
  <meta property="fb:app_id" content="304013736436348"/>


  <title>Halal Data</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= yield %>

	<%= render "include/analytic" %>
</body>
</html>
